<?php
$config = array(
	// Accept only POST requests (highly recommended in production environments)
	"forcePost" => true,

	// Enables or disables fallback to data provider when the "coverart" POST parameter is empty or not found (default value: disabled)
	"coverart_fallback" => false,

	// Class name of the cover art and preview URLs provider
	"dataProvider" => "Spotify",

	// Deletes unwanted text
	"textFilters" => array(
		" POWER INTRO",
		"\(radio edit\)",
		"(\(?)(featuring|feat)(.+)",
		"\(.+\)"
	),

	// Only allowed some specific source hosts
	"allowedHosts" => array(
		"studio.yourstation.com",
		"127.0.0.1"
	),

	// Minimum item duration
	"minDuration" => 30,

	// Target platforms for metadata
	"platforms" => array(
		// Writes current song metadata to a JSON file
		"JSONFile" => array(
			"filename" => "onair.json"
		),
		// Writes recent songs history to a JSON file
		"JSONPlaylist" => array(
			"filename" => "playlist.json",
			"maxKeepTime" => 86400
		),
		// Writes current song metadata to an XML file compatible with WebRadioTools
		"WRTXmlFile" => array(
			"filename" => "onair.xml"
		),
		// Sends current song metadata to a shoutcast server
		"Shoutcast" => array(
			"host" => "stream.yourstation.com",
			"port" => 8000,
			"password" => "hackme"
		),
		// Sends current song metadata to one or several mountpoints of an Icecast server
		"Icecast" => array(
			"host" => "stream.yourstation.com",
			"port" => 8000,
			"username" => "admin",
			"password" => "hackme",
			"mount" => "stream.mp3",
			// You can also give an array to the "mount" parameter if you want to send metadata to several mountpoints
			//"mount" => array("stream.mp3", "hd-stream.mp3", "mobile-stream.mp3")
		),
		// Sends current song metadata and song history to your LastFM profile
		"LastFM" => array(
			"apiKey" => "mySuperApiKey",
			"apiSecret" => "MySuperSecretSecretKey",
			"username" => "myradiostation",
			"password" => "hackme"
		)
	)
);
?>
